

@import  url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


.body{
    background-color: hsl(212, 45%, 89%);

}


.tabelaQRCode{
    margin: auto;
    position:relative;
    top: 15%;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    width: 20%;
    height: 75%;
    vertical-align: middle;
    font-family: Outfit;
}
.caixaQR{
    border-radius: 20px;
    text-align: center;
    margin-top: 5%;
    height: 90%;
    width: 90%;

}

.textoTitulo {
    margin-top: 5%;
    text-align: center;
    font-weight: 700;


}

.textoSecundario{

    text-align: center;
    font-weight: 400; 



}
